{% extends "base.html" %}
{% set nav_active = 'equipo' %}
{% block title %}Síntesis 360 | Equipo{% endblock %}

{% block content %}
<section class="breadcrumbs section">
  <div class="container">
    <h2>Equipo</h2>
    <p>Capacidades del sistema</p>
  </div>
</section>

<section class="inner-page section">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 col-xl-3"><div class="method-card h-100"><h4>Cobertura e ingesta</h4></div></div>
      <div class="col-lg-6 col-xl-3"><div class="method-card h-100"><h4>Modelado y taxonomías</h4></div></div>
      <div class="col-lg-6 col-xl-3"><div class="method-card h-100"><h4>Indicadores y tableros</h4></div></div>
      <div class="col-lg-6 col-xl-3"><div class="method-card h-100"><h4>Síntesis estratégica</h4></div></div>
    </div>
  </div>
</section>
{% endblock %}
